.footer-bottom { background: #4b8800; padding: 10px 0px;
    ul li {display: inline; margin-right: 20px; font-size: 18px;
        a{color:#fff;}
    }
}

.footer-bottom ul {float: right;}
.footer-bottom ul li:last-child {margin-right: 0;}
.copyright {font-size: 18px;}